html,body {
    height: 100%;
    overflow: hidden;
}
#index {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative; 
}
#index .first {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/dream/background.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
    position: absolute;
    z-index: 100;
    /*display: none;*/
}
.first .header {
    width:  100%;
    height: 95px;
    background: rgba(203, 92, 105, 0.75);
    font-size: 18px;
    color: #fff;
    font-family: microsoft yahei;
    text-align: left;
    box-sizing: border-box;
    padding: 24px 16px;
    text-indent: 36px;
    line-height: 26px;
}
.first .textarea-wrap {
    width: 256px;
    height:  228px;
    background: url('../images/dream/textarea.png') no-repeat;
    background-size: 100% 100%;
    margin: 166px auto 20px;;
}
.textarea-wrap .text {
    background-color: transparent;
    outline: none;
    border: none;
    color: #656565;
    font-size: 15px;
    font-family: microsoft yahei;
    font-weight: 700;
    height: 150px;
    text-indent: 30px;
    width: 100%;
    margin-top: 34px;
    line-height: 26px;
    padding: 0 10px;
    box-sizing: border-box;
}
.first .button {
    width: 280px;
    height: 34px;
    line-height: 33px;
    background-color: #ffffff;
    color: #eb6877;
    font-size: 18px;
    font-family: microsoft yahei;
    font-weight: 600;
    border-radius: 40px;
    border: 1px solid #eb6877;
    /*margin: 77px auto 0;*/
    position: absolute;
    bottom: 88px;
    margin: auto;
    left: 0;
    right: 0;
}

.tip {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    z-index: 10000;
    text-align: center;
    display: none;
}
.tip .tip-content {
    width: 235px;
    height: 127.5px;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}
.tip .tip-content .tip-text {
    font-size: 18px;
    color: #5a1b19;
    font-family: microsoft yahei;
    display: block;
    margin: 34px 0 0 0;
}
.tip .tip-content .ok-button {
    width: 175px;
    height: 40px;
    line-height: 40px;
    margin: 24px 0 0 0;
    display: inline-block;
    color: #fff;
    background-color: #e89492;
    font-size: 18px;
    font-family: microsoft yahei;
    border-radius: 5px;
    text-align: center;
}