.index {
    width: 100%;
    min-height: 100%;
    background-color: #27b9e9;
    position: relative;
}
.index .first {
    width: 100%;
    overflow: hidden;
    background: url('../images/background.png') no-repeat;
    background-size: 100% auto;
    background-color: #c91d45;
}
.index .first .logo {
    width: 7.557702609rem;
    height: 1.739130435rem;
    background: url('../images/logo.png') no-repeat;
    background-size: 7.557702609rem 1.739130435rem;
    float: left;
    margin: 1.159420290rem 0 0 0;
}
.index .first .index-center {
    width: 16.747181965rem;
    margin: 3.478260870rem auto 0;
}
.first .index-center .center-logo {
    width: 16.725711221rem;
    height: 9.168008567rem;
    background: url('../images/title.png') no-repeat;
    background-size: 100% 100%;
}
.first .center-logo-text {
    width: 22.544283414rem;
    height: 9.661835749rem;
    margin: 0.579710145rem auto;
    background: url('../images/big-ka-2.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 100;
}
.first .index-center .center-book {
    width: 16.103059581rem;
    height: 11.529790660rem;
    background: url('../images/book.png') no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    /*width: 187.5pt;
    height: 134.25pt;*/
}
.first .index-center .center-book .center-book-text {
    margin: 0.450885668rem 0 0 0;
    color: #272727;
    text-align: center;
    font-size: 1.000000000rem;
    font-size: 0.772946860rem;
}
.first .index-center .center-book .center-book-text.first {
    margin: 2.576489533rem 0 0 0;
}
.index .first .center-join-head {
    width: 100%;
    height: 2.576489533rem;
    margin: -1.932367150rem 0 0 0;
    background: url('../images/bac.png') repeat-y;
    background-size: 100% 100%;
}
.index .join .center-join {
    width: 8.201824992rem;
    height: 2.254428341rem;
    background: url('../images/join.png') no-repeat;
    background-size: 8.201824992rem 2.254428341rem;
    margin: -0.450885668rem auto 0.901771337rem;
}
.index .first .right-logo {
    width: 6.655931272rem;
    height: 5.689747697rem;
    background: url('../images/top-right.png') no-repeat;
    background-size: 6.655931272rem 5.689747697rem;
    float: right;
    margin: 0.837359098rem 0.644122383rem 0 0;
}
.index .join {
    width: 100%;
    padding: 1.288244767rem 2.769726248rem 1.674718196rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.index .join .join-text {
    color: #fff;
    padding: 0 0 0 0.966183575rem;
    line-height: 1.288244767rem;
    font-size: 0.772946860rem;
}
.index .join .join-text .start {
    width: 1.782071929rem;
    height: 1.782071929rem;
    display: inline-block;
    margin: 0 0.193236715rem;
    background: url('../images/begin-reader.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.index .join .join-text .join-waring {
    font-weight: bold;
}
.index .join .join-context {
    width: 100%;
    height: 14.707461063rem;
    margin: 1.481481481rem 0 0 0;
    border-radius: 0.386473430rem;
    background-color: #fff;
    overflow: hidden;
}
.index .join .join-context .context-submit {
    padding: 2.576489533rem 1.674718196rem 0;
}
.join-context .context-submit .submit-school {
    font-size: 0;
}
.join-context .context-submit .submit-school .select-wrap {
    display: inline-block;
    box-sizing: border-box;
}
.join-context .context-submit .submit-school .text,
.join-context .context-submit .recent-book .text,
.join-context .context-submit .wechat .text {
    color: #004e66;
    font-size: 1.223832528rem;
}
.join-context .context-submit .submit-school .city {
    width: 30%;
    display: inline-block;
    text-align: right;
}
.join-context .context-submit .submit-school .city:nth-child(3) {
    width: 40%;
}
.join-context .context-submit .submit-school select {
    width: 3.542673108rem;
    vertical-align: 0.193236715rem;
    margin: 0 0.128824477rem 0 0;
}
.join-context .context-submit .submit-school .city:nth-child(1) {
    text-align: left;
}
.join-context .context-submit .submit-school .city.fir select {
    margin: 0 0.193236715rem 0 0;
}
.join-context .context-submit .auto-input {
    width: 100%;
    display: inline-block;
    margin: 0 0 0 -11.916264090rem;
    padding: 1px 0 1px 11.207729469rem;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.join-context .context-submit .auto {
    width: 100%;
    height: 1.417069243rem;
    line-height: 1.417069243rem;
    padding: 0 0 0 0.193236715rem;
    vertical-align: 0.193236715rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.join-context .context-submit .wechat .text-min {
    color: #6f7a7d;
    font-size: 1.030595813rem;
}
.join-context .context-submit .wechat .auto-input {
    margin: 0 0 0 -11.529790660rem;
    padding: 0 0 0 10.692431562rem;
}
.join-context .context-submit .recent-book {
    margin: 1.545893720rem 0 0 0;
}
.join-context .context-submit .wechat {
    margin: 1.545893720rem 0 0 0;
}
.join-context .context-submit .submit-button {
    width: 6.698872786rem;
    height: 2.383252818rem;
    line-height: 2.383252818rem;
    margin: 1.352657005rem auto 0;
    /*background: url('../images/submit-info-button.png') no-repeat;*/
    background-color: #c91d45;
    border-radius: 0.322061192rem;
    text-align: center;
    font-size: 1.288244767rem;
    font-weight: bold;
    color: #fff;
}
.index .join .join-context .context-start {
    padding: 2.576489533rem 1.674718196rem 0;
    display: none;
}
.index .join .join-context .context-start .start-icon {
    width: 7.579173378rem;
    height: 7.579173378rem;
    background: url('../images/circle.png') no-repeat;
    background-size: 100% 100%;
    margin: 1.1703958691910499rem auto;
    padding: 1.417069243rem 0 0 0;
    text-align: center;
    color: #fff;
    font-size: 2.190016103rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.index .join .join-context .context-start .start-time {
    color: #d7151a;
    font-size: 2.061191626rem;
    margin: 0.901771337rem auto 0;
    text-align: center;
    display: none;
}
.index .join .join-context .context-over {
    height: 10.821256039rem;
    margin: 1.932367150rem 3.478260870rem;
    background-color: #c91d45;
    border-radius: 0.322061192rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 0.193236715rem 0.644122383rem 0.128824477rem #ccc;
    -webkit-box-shadow: 1px 0.193236715rem 0.644122383rem 0.128824477rem #ccc;
    overflow: hidden;
    display: none;
}
.index .join .join-context .context-over .over-title {
    margin: 1.352657005rem 0.901771337rem 0;
    color: #fff;
    font-size: 1.116478776rem;
    text-align: center;
}
.index .join .join-context .context-over .over-gift {
    text-align: center;
    margin: -0.322061192rem 0 0 0;
}
.index .join .join-context .context-over .over-gift .gift-img {
    width: 11.465378422rem;
    height: 6.977992464rem;
}

.person-time {
    width: 100%;
    background-color: #ff7512;
    overflow: hidden;
    padding: 0 0 1.739130435rem 0;
}
.person-time .time-logo {
    width: 21.062801932rem;
    height: 9.618894235rem;
    background: url('../images/time-2.png') no-repeat;
    background-size: 21.062801932rem 9.618894235rem;
    margin: 1.030595813rem auto 0;
    position: relative;
}
.person-time .time-logo .time-hour-1,
.person-time .time-logo .time-hour-2,
.person-time .time-logo .time-min-1,
.person-time .time-logo .time-min-2,
.person-time .time-logo .time-sec-1,
.person-time .time-logo .time-sec-2 {
    font-size: 2.447665056rem;
    color: #a9a9a9;
    position: absolute;
    top: 4.380032206rem;
}
.person-time .time-logo .time-hour-1 {
    left: 2.190016103rem;
}
.person-time .time-logo .time-hour-2 {
    left: 4.830917874rem;
}
.person-time .time-logo .time-min-1 {
    left: 8.244766506rem;
}
.person-time .time-logo .time-min-2 {
    left: 10.885668277rem;
}
.person-time .time-logo .time-sec-1 {
    left: 14.363929147rem;
}
.person-time .time-logo .time-sec-2 {
    left: 17.069243156rem;
}
.person-time .time-rule {
    width: 21.062801932rem;
    margin: 1.030595813rem auto 0;
}
.person-time .time-rule .rule-title {
    font-size: 1.288244767rem;
    text-align: center;
    margin: 0 0 0.515297907rem 0;
}
.person-time .time-rule .rule-title,
.person-time .time-rule .rule-con {
    color: #fff;
}
.person-time .time-rule .rule-con .rule-text {
    width: 22.608695652rem;
    line-height: 1.288244767rem;
}
.person-time .time-rule .rule-con .gift-limit {
    width: 5.754159957058508rem;
    height: 0.5152979066022544rem;
    display: inline-block;
    background: url('../images/gift-limit.png') no-repeat;
    background-size: 100% 100%;
    margin: 0.08588298443370906rem 0 0 0;
    float: right;
}
.person-time .time-rule .rule-con .rule-text.offset {
    margin: 1.739130435rem 0 0 0;
}
.person-time .time-rule .rule-con .rule-text .color-other {
    color: #1e262b;
    vertical-align: middle;
}
.person-time .time-rule .time-rule-border {
    width: 22.608695652rem;
    height: 4.380032206rem;
    background: url('../images/border-2.png') no-repeat;
    background-size: 100% 100%;
    margin: 1.095008052rem auto 0;
}
.person-time .time-rule .invite {
    width: 12.753623188rem;
    height: 3.499731594rem;
    line-height: 3.349436393rem;
    background: url('../images/submit-button-2.png') no-repeat;
    background-size: 100% 100%;
    margin: 0.837359098rem auto 0;
    text-align: center;
    font-size: 1.545893720rem;
    color: #000;
}

.school-rank {
    width: 100%;
    background-color: #3e2e6d;
    padding: 0 0 1.867954911rem 0;
    overflow: hidden;
}
.school-rank .rank-header {
    width: 100%;
    background-size: 100% 100%;
    text-align: center;
    margin: 2.125603865rem 0 0 0;
}
.school-rank .rank-header .rank-header-text {
    width: 17.112184651rem;
    height: 4.594739646rem;
    display: inline-block;
    background: url('../images/rank.png') no-repeat;
    background-size: 17.112184651rem 4.594739646rem;
    vertical-align: middle;
}
.school-rank .rank-report {
    width: 100%;
    width: 19.323671498rem;
    margin: 0.837359098rem auto 0;
}
.school-rank .rank-report .report-title,
.school-rank .rank-report .report-rank {
    height: 2.125603865rem;
    line-height: 2.125603865rem;
    background-color: #ff5a54;
    color: #fff;
    font-size: 1.168008586rem;
    text-align: center;
}
.school-rank .rank-report .report-title {
}
.school-rank .rank-report .report-rank {
    background-color: #fff;
    color: #858585;
    font-size: 0.876006441rem;
}
.school-rank .rank-report .report-rank .school,
.school-rank .rank-report .report-rank .rank {
    font-size: 1.070746108rem;
    color: #00c0ff;
}
.school-rank .rank-graph {
    margin: 0.901771337rem 0 0 0;
    padding: 0 2.190016103rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.school-rank .rank-graph .rank-school-names {
    width: 100%;
    display: inline-block;
}
.school-rank .rank-graph .rank-school-names .rank-left {
    width: 5.288566828rem;
    height: 1.481481481rem;
    float: left;
}
.school-rank .rank-graph .rank-school-names .rank-school-name {
    /*margin: 1.202361784rem 0 0 0;*/
    height: 1.481481481rem;
    line-height: 1.481481481rem;
    overflow: hidden;
}
.school-rank .rank-graph .rank-school-names .rank-school-border {
    height: 0.944712831rem;
}
.school-rank .rank-graph .rank-school-names .rank-school-name.no-margin {
    margin: 0;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .ranks {
    width: 1.030595813rem;
    height: 0.944712850rem;
    line-height: 1.009125089rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 0.901771337rem;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-fir {
    background: url('../images/first.png') no-repeat;
    background-size: 1.030595813rem 0.944712831rem;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-sec {
    background: url('../images/second.png') no-repeat;
    background-size: 1.030595813rem 0.944712831rem;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-thr {
    background: url('../images/third.png') no-repeat;
    background-size: 1.030595813rem 0.944712831rem;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-school {
    color: #fff;
    font-size: 0.901771337rem;
    margin: 0 0 0 0.257648953rem;
    vertical-align: middle;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-right {
    margin: 0 0 0 0.257648953rem;
    display: inline-block;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-right .rank-school-progress {
    width: 12.582447665rem;
    height: 1.481481481rem;
    float: left;
    border-left: 0.128824477rem solid #fff;
    background-color: #ff5a54;
}
.school-rank .rank-graph .rank-school-names .rank-school-name.fir-rank .rank-right .rank-school-progress {
    background-color: #f5cf16;
}
.school-rank .rank-graph .rank-school-names .rank-school-name.rank-school-border .rank-right .rank-school-progress {
    width: 0;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-right .rank-school-minutes {
    display: inline-block;
    margin: 0 0 0 0.386473430rem;
    color: #fff;
}
.school-rank .rank-invite {
    width: 14.428341385rem;
    height: 3.070316696rem;
    line-height: 3.070316696rem;
    background: url('../images/rank-invite.png') no-repeat;
    background-size: 100% 100%;
    margin: 1.352657005rem auto 0;
    font-size: 1.095008052rem;
    font-weight: bold;
    text-align: center;
}

.school-travel {
    width: 100%;
    background-color: #42c3ed;
    overflow: hidden;
}
.school-travel .travel-header {
    width: 100%;
    background-size: 100% 7.922705314rem;
    margin: 1.545893720rem 0 0 0;
    text-align: center;
}
.school-travel .travel-header .travel-header-text {
    width: 17.112184651rem;
    height: 4.594739646rem;
    display: inline-block;
    background: url('../images/school.png') no-repeat;
    background-size: 17.112184651rem 4.594739646rem;
    vertical-align: middle;
}
.school-travel .high-up {
    width: 100%;
    padding: 1.352657005rem 2.125603865rem 1.610305958rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.school-travel .high-up .high-up-title {
    color: #fff;
    font-size: 1.288244767rem;
    text-align: center;
}
.school-travel .high-up .high-up-context {
    margin: 1.352657005rem 0 0 0;
}
.school-travel .high-up .high-up-context .high-up-img {
    width: 7.729468599rem;
    height: 10.499194847rem;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0.257648953rem;
    background-color: #fff;
    border-radius: 0.322061192rem;
}
.school-travel .high-up .high-up-context .high-up-img .high-up-pic {
    width: 100%;
    height: 100%;
}
.school-travel .high-up .high-up-context .high-up-ind {
    /*width: 14.170692432rem;*/
    float: right;
    display: inline-block;
    /*margin: 0 0 0 1.095008052rem;*/
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-p {
    color: #094a8c;
    font-size: 0.858829823rem;
    margin: 0.515297907rem 0 0 0;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-p .ind-title {
    width: 4.508856683rem;
    display: inline-block;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-article .ind-host {
    width: 9.017713365539452rem;
    text-overflow:ellipsis; /* 超出部分... */
    white-space:nowrap; /* 禁止换行 */
    overflow: hidden;
    display: inline-block;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-host {
    margin: 0.128824477rem 0 0 0;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-place {
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-topic {
    line-height: 1.159420290rem;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-topic .ind-topic {
    width: 9.017713365539452rem;
    text-overflow:ellipsis; /* 超出部分... */
    white-space:nowrap; /* 禁止换行 */
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-time {
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-button {
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-button .high-up-know,
.school-travel .high-up .high-up-context .high-up-ind .high-up-button .high-up-join-now {
    width: 3.800322061rem;
    height: 1.288244767rem;
    line-height: 1.288244767rem;
    display: inline-block;
    border-radius: 0.257648953rem;
    background-color: #fff;
    text-align: center;
    color: #1f77af;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-button .high-up-know {
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-button .high-up-join-now {
    margin: 0 0 0 1.223832528rem;
    display: none;
}
.school-travel .high-up .high-up-more,
.school-travel .book .book-recommand .book-recommand-more {
    width: 7.278582931rem;
    height: 1.674718196rem;
    line-height: 1.674718196rem;
    text-align: center;
    border-radius: 0.322061192rem;
    background-color: #f5ce17;
    color: #094a8c;
    font-size: 0.858829823rem;
    font-weight: bold;
    margin: 1.481481481rem auto 0;
}
.school-travel .high-up .high-up-join {
    width: 100%;
    margin: 1.417069243rem 0 0  0;
    color: #094a8c;
    line-height: 1.159420290rem;
    font-size: 0.858829823rem;
}
.school-travel .high-up .high-up-join .join-way {
    line-height: 1.159420290rem;
}
.school-travel .book {
    background-color: #af3669;
}
.school-travel .book-recommand {
    width: 100%;
    padding: 2.769726248rem 1.223832528rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.school-travel .book-recommand .book-recommand-header {
    width: 17.133655395rem;
    height: 4.594739646rem;
    background: url('../images/recommand.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    display: none;
}
.school-travel .book-recommand .book-recommand-books {
    display: inline-block;
    margin: 2.061191626rem 0 0 0;
    display: none;
}
.school-travel .book-recommand-books .books-pic {
    display: inline-block;
}
.school-travel .book-recommand-books .books-pic .books-images {
    width: 5.024154589rem;
    height: 8.330649469rem;
}
.school-travel .book-recommand-books .books-text {
    width: 15.458937198rem;
    margin: 0.772946860rem 0 0 2.061191626rem;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.school-travel .book-recommand-books .books-text .books-title {
    font-size: 1.288244767rem;
}
.school-travel .book-recommand-books .books-text .books-title .title-name {
    margin: 0 0.644122383rem 0 0;
}
.school-travel .book-recommand-books .books-text .books-title .author {
    display: inline-block;
}
.school-travel .book-recommand-books .books-text .books-tip {
    margin: 0.193236715rem 0 0 0;
    font-size: 0.772946860rem;
}
.school-travel .book-recommand-books .books-text .books-rank {
    margin: 1.159420290rem 0 0 0;
    font-size: 0.772946860rem;
    line-height: 1.030595813rem;
}
.school-travel .book-recommand-books .books-text .books-rank-exc {
    font-size: 0.772946860rem;
    line-height: 1.030595813rem;
}
.school-travel .book .book-recommand .book-recommand-more {
    display: none;
}
.school-travel .book .book-recommand .book-recommand-logo {
    width: 16.725711221rem;
    height: 9.168008567rem;
    background: url('../images/title.png') no-repeat;
    background-size: 100% 100%;
    margin: 2.705314010rem auto 0;
}

.school-travel .foot {
    width: 100%;
    margin: 4.186795491rem 0 0 0;
}
.school-travel .foot .foot-copyright {
    font-size: 0.772946860rem;
    color: #fff;
    text-align: center;
}
.school-travel .foot .foot-back {
    width: 100%;
    height: 9.704777243rem;
    margin: 0.901771337rem 0 0 0;
    background: url('../images/footer.png') no-repeat;
    background-size: 100% 100%;
}



/* 好书推荐二级页面 */
.module-reader {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #af3669;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.module-reader.out {
    left: 100%;
}

.module-reader .reader-header {
    font-size: 1.030595813rem;
    color: #fff;
}
.module-reader .reader-header .header-return {
    height: 1.052066538rem;
    line-height: 1.052066538rem;
    float: left;
    padding: 1.610305958rem 0 0 0.515297907rem;
}
.module-reader .reader-header .header-return .return-icon {
    width: 0.579710145rem;
    height: 1.052066538rem;
    display: inline-block;
    background: url('../images/return.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.module-reader .reader-header .header-return .return-text {
    vertical-align: -0.128824477rem;
    margin-left: 0.257648953rem;
}
.module-reader .reader-header .header-logo {
    width: 7.557702609rem;
    height: 1.674718196rem;
    background: url('../images/logo-2.png') no-repeat;
    background-size: 100% 100%;
    float: right;
    margin: 1.288244767rem 0 0 0;
}

.module-reader .reader-title {
    height: 6.140633366rem;
    line-height: 6.140633366rem;
    margin: 5.432098744rem 0 0 0;
    text-align: center;
}
.module-reader .reader-title .title-icon {
    width: 6.827697262rem;
    height: 6.140633366rem;
    display: inline-block;
    background: url('../images/top-right-2.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.module-reader .reader-title .title-text {
    width: 14.514224348rem;
    height: 4.122383253rem;
    display: inline-block;
    background: url('../images/recommand.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}

.module-reader .reader-books {
    padding: 0 1.932367150rem;
}
.module-reader .reader-books .book-recommand-books {
    display: inline-block;
    margin: 2.061191626rem 0 0 0;
}
.module-reader .reader-books .book-recommand-books .books-pic {
    display: inline-block;
    position: relative;
}
.module-reader .reader-books .book-recommand-books .books-pic .books-images {
    width: 5.024154589rem;
    height: 8.330649469rem;
}
.module-reader .reader-books .book-recommand-books .books-pic .books-buy-images {
    width: 1.846484167rem;
    height: 1.846484167rem;
    position: absolute;
    right: -0.644122383rem;
    bottom: 0.322061192rem;
}
.module-reader .reader-books .book-recommand-books .books-text {
    width: 15.458937198rem;
    margin: 0.772946860rem 0 0 2.061191626rem;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.module-reader .reader-books .book-recommand-books .books-text .books-title {
    font-size: 1.288244767rem;
}
.module-reader .reader-books .book-recommand-books .books-text .books-title .title-name {
    margin: 0 0.644122383rem 0 0;
}
.module-reader .reader-books .book-recommand-books .books-text .books-title .author {
    display: inline-block;
}
.module-reader .reader-books .book-recommand-books .books-text .books-tip {
    margin: 0.193236715rem 0 0 0;
    font-size: 0.772946860rem;
}
.module-reader .reader-books .book-recommand-books .books-text .books-rank {
    margin: 1.159420290rem 0 0 0;
    font-size: 0.772946860rem;
    line-height: 1.030595813rem;
}
.module-reader .reader-books .book-recommand-books .books-text .books-rank-exc {
    font-size: 0.772946860rem;
    line-height: 1.030595813rem;
}

/* 大咖二级页面 */
.module-high-up {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #42c3ed;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    overflow-y: auto;
}
.module-high-up.out {
    left: 100%;
}
.module-high-up .scrolls {
    overflow: auto;
}

.module-high-up .high-up-header {
    font-size: 1.030595813rem;
    color: #fff;
}
.module-high-up .high-up-header .header-return {
    height: 1.052066538rem;
    line-height: 1.052066538rem;
    float: left;
    padding: 1.610305958rem 0 0 0.515297907rem;
}
.module-high-up .high-up-header .header-return .return-icon {
    width: 0.579710145rem;
    height: 1.052066538rem;
    display: inline-block;
    background: url('../images/return.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.module-high-up .high-up-header .header-return .return-text {
    vertical-align: -0.128824477rem;
    margin-left: 0.257648953rem;
}
.module-high-up .high-up-header .header-logo {
    width: 7.557702609rem;
    height: 1.674718196rem;
    background: url('../images/logo-2.png') no-repeat;
    background-size: 100% 100%;
    float: right;
    margin: 1.288244767rem 0 0 0;
}

.module-high-up .high-up-title {
    height: 6.140633366rem;
    line-height: 6.140633366rem;
    margin: 5.432098744rem 0 0 0;
    text-align: center;
}
.module-high-up .high-up-title .title-icon {
    width: 6.827697262rem;
    height: 6.140633366rem;
    display: inline-block;
    background: url('../images/top-right-2.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.module-high-up .high-up-title .title-text {
    width: 14.514224348rem;
    height: 4.122383253rem;
    display: inline-block;
    background: url('../images/school.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}

.module-high-up .high-ups {
    padding: 0 1.932367150rem;
    margin: 1.159420290rem 0 0 0;
    overflow: hidden;
}
.module-high-up .high-ups .high-up-context {
    margin: 1.352657005rem 0 0 0;
}
.module-high-up .high-ups .high-up-context .high-up-img {
    width: 7.729468599rem;
    height: 10.499194847rem;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0.257648953rem;
    background-color: #fff;
    border-radius: 0.322061192rem;
}
.module-high-up .high-ups .high-up-context .high-up-img .high-up-pic {
    width: 100%;
    height: 100%;
}
.module-high-up .high-ups .high-up-context .high-up-ind {
    float: right;
    display: inline-block;
    /*margin: 0 0 0 1.095008052rem;*/
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-p {
    color: #094a8c;
    font-size: 0.858829823rem;
    margin: 0.515297907rem 0 0 0;
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-p .ind-title {
    width: 4.508856683rem;
    display: inline-block;
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-host {
    margin: 0.128824477rem 0 0 0;
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-article {
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-article .ind-host {
    width: 9.017713365539452rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-place {
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-topic {
    line-height: 1.159420290rem;
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-topic .ind-topic {
    max-width: 9.017713365539452rem;
    text-overflow:ellipsis; /* 超出部分... */
    white-space:nowrap; /* 禁止换行 */
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-time {
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-button {
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-button .high-up-know,
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-button .high-up-join-now {
    width: 3.800322061rem;
    height: 1.288244767rem;
    line-height: 1.288244767rem;
    display: inline-block;
    border-radius: 0.257648953rem;
    background-color: #fff;
    text-align: center;
    color: #1f77af;
}
.module-high-up .high-ups .high-up-context .high-up-ind .high-up-button .high-up-join-now {
    margin: 0 0 0 1.223832528rem;
    display: none;
}

/* 开始计时二级页面 */
.module-timing {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #42c3ed;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    z-index: 200;
}
.module-timing.out {
    left: 100%;
}
.module-timing .mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.92;
    position: absolute;
    top: 0;
    left: 0;
}
.module-timing .time-wrap {
    width: 100%;
    height: 100%;
    padding: 9.790660225rem 3.607085346rem 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 100;
    position: relative;
    color: #fff;
}
.module-timing .times {
    font-size: 3.349436393rem;
}
.module-timing .time-border {
    border-top: 1px solid #fff;
    margin: 1.739130435rem 0 0 0;
}
.module-timing .time-text {
    font-size: 1.545893720rem;
    margin: 1.481481481rem 0 0 0;
}
.module-timing .time-text-2 {
    font-size: 1.545893720rem;
    margin: 1.095008052rem 0 0 0;
}
.module-timing .time-start {
    width: 7.600644122rem;
    height: 7.600644122rem;
    line-height: 7.600644122rem;
    background: url('../images/circle.png') no-repeat;
    background-size: 100% 100%;
    font-size: 2.254428341rem;
    color: #fff;
    margin: 9.661835749rem auto 0;
}
.module-timing .toast {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
}
.module-timing .toast .mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.92;
    position: absolute;
    top: 0;
    left: 0;
}
.module-timing .toast .toast-wrapper {
    width: 80%;
    margin: 9.244444444444445rem auto;
    padding: 1.8rem 2.133333333rem;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 16px;
    background-color: #27b7e6;
}
.module-timing .toast .close {
    width: 1.884444444rem;
    height: 2.737777777777778rem;
    background: url('../images/btn_close.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -2.737777777777778rem;
    right: 0;
}
.module-timing .toast .gift-wrapper {
    width: 100%;
    padding: 1.066666666rem 1.422222222223rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #c91d45;
    border-radius: 6px;
}
.module-timing .toast .gift {
    text-align: center;
}
.module-timing .toast .gift img {
    width: 100%;
    display: none;
}
.module-timing .toast .gift .gift-50 {
}
.module-timing .toast .no-gift {
    font-size: 1rem;
    display: none;
}
.module-timing .toast .gifts {
    display: none;
}
.module-timing .toast .gifts .gift-text {
    font-size: 1.5458937198067633rem;
    font-size: 1.1594202898550725rem;
    line-height: 1.8035426731078905rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.module-timing .toast .gifts .gift-img {
    width: 100%;
    margin: 0.8373590982286634rem 0 0 0;
}
.module-timing .toast .no-gift .no-gift-text {
}
.module-timing .toast .no-gift .reader-again {
    width: 10.327022375215146rem;
    height: 2.7538726333907055rem;
    line-height: 2.7538726333907055rem;
    text-align: center;
    border-radius: 0.322061192rem;
    background-color: #d7151a;
    color: #fff;
    font-size: 1.3769363166953528rem;
    margin: 1rem auto 0;
}

/* 分享二级页面 */
.module-share {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.module-share.out {
    left: 100%;
}
.module-share .img-share {
    position: absolute;
    top: 0.644122383rem;
    right: 0.644122383rem;
}
.module-share .img-share .share-icon {
    width: 7.729468599rem;
    height: 5.281803543rem;
}
.module-timing .toast .gift-submit {
    color: #fff;
    text-align: center;
}
.module-timing .toast .gift-submit .gift-submit-title {
    font-size: 1.1164787976382178rem;
    font-weight: bold;
}
.module-timing .toast .gift-submit .gift-submit-context {
    text-align: left;
    font-size: 0.9017713365539453rem;
    padding: 0 0 0 1.4170692431561998rem;
}
.module-timing .toast .gift-submit .gift-submit-context .gift-submit-name {
    width: 3.3923778851315083rem;
}
.module-timing .toast .gift-submit .gift-submit-context .gift-submit-tel {
    width: 7.5791733762748255rem;
}
.module-timing .toast .gift-submit .gift-submit-context.name {
    margin: 1.0950080515297906rem 0 0 0;
}
.module-timing .toast .gift-submit .gift-submit-context.tel {
    margin: 1.1594202898550725rem 0 0;
}
.module-timing .toast .gift-submit .gift-submit-button {
    width: 3.027375201288245rem;
    height: 1.1164787976382178rem;
    line-height: 1.1164787976382178rem;
    font-size: 0.7300053676865271rem;
    color: #000;
    text-align: center;
    margin: 0.7729468599033816rem auto 0;
    background: url('../images/gift-submit-button.png') no-repeat;
    background-size: 100% 100%;
}
.module-timing .toast .gift-submit .gift-submit-tip {
    margin: 1.1164787976382178rem 0 0 0;
    font-size: 0.6011808910359635rem;
}
