html,body {
    height: 100%;
    overflow: hidden;
}
canvas {
    width: 50%;
    height: 100%;
}
#index {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative; 
}

#index .first {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/first-b.png') no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    z-index: 100;
    /*display: none;*/
}
#index .first .textWrap {
    margin-top: 95px;
    margin-left: 48px;
    text-align: left;
    position: relative;
}
#index .first .textWrap .text {
    display: none;
    text-align: center;
    position: absolute;
}
#index .first .textWrap .text1 {
    width: 46.5px;
    height: 11px;
    background: url('../images/text1.png') no-repeat;
    background-size: 100% auto;
}
#index .first .textWrap .text2 {
    width: 168.5px;
    height: 12px;
    background: url('../images/text2.png') no-repeat;
    background-size: 100% auto;
    top: 22px;
}
#index .first .textWrap .text3 {
    width: 159px;
    height: 12px;
    background: url('../images/text3.png') no-repeat;
    background-size: 100% auto;
    top: 44px;
}
#index .first .textWrap .text4 {
    width: 104.5px;
    height: 11.5px;
    background: url('../images/text4.png') no-repeat;
    background-size: 100% auto;
    top: 66px;
}
#index .first .textWrap .text5 {
    width: 70.5px;
    height: 11.5px;
    background: url('../images/text5.png') no-repeat;
    background-size: 100% auto;
    top: 88px;
}
#index .first .people {
    display: inline-block;
    width: 59.5px;
    height: 101px;
    background: url('../images/peo.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 56%;
    margin-left: -29.25px;
}
#index .first .heart {
    display: inline-block;
    width: 59.5px;
    height: 31px;
    background: url('../images/heart.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transform: scale(1);
    animation: mymove 1.5s infinite;
}
#index .first .boolean {
    display: inline-block;
    width: 100px;
    height: 315px;
    background: url('../images/ballon1.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 19%;
    left: 0;
    animation: boolean 4s infinite;
}
#index .first .boolean2 {
    display: inline-block;
    width: 114.5px;
    height: 310px;
    background: url('../images/ballon2.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 9%;
    right: 0;
    animation: boolean2 3s infinite;
}

@keyframes mymove
{
    0%   {
        transform: scale(1);
    }
    0%   {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes boolean
{
    0%   {
        top: 19%;
    }
    50%   {
        top: 16%;
    }
    100% {
        top: 19%;
    }
}
@keyframes boolean2
{
    0%   {
        top: 9%;
    }
    50%   {
        top: 7%;
    }
    100% {
        top: 9%;
    }
}
#index .first .testButton,
#index .second .testButton {
    width: 175px;
    height: 38px;
    line-height: 38px;
    font-family: microsoft yahei;
    font-size: 18px;
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 76%;
    background-color: #e89492;
    border-radius: 4px;
    margin-left: -87.5px;
}
#index .first .testButton {
    display: none;
}
#index .second {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/second.png') no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    display: none;
}
#index .second .form {
    width: 100%;
    margin-top: 102px;
    font-family: microsoft yahei;
}
.form .column {
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}
.form .column .text {
    display: inline-block;
    width: 33.125%;
    font-size: 12.465px;
    color: #80343b;
    text-align: right;
    float: left;
}
.form .column .input {
    display: inline-block;
    width: 66.875%;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.input .inputContent {
    height: 24px;
    line-height: 24px;
    /*-webkit-appearance: none;*/
    border: 1px solid #e87c7a;
    border-radius: 2px;
    padding-left: 5px;
    box-sizing: border-box
}
.input .inputContentSelect {
    height: 28px;
    width: 58px;
    border: 1px solid #e87c7a;
    border-radius: 2px;
    /*-webkit-appearance: none;*/
}

#index .third {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/end.png') no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    display: none;
}
#index .third .heart2 {
    display: inline-block;
    width: 34.5px;
    height: 34px;
    background: url('../images/heart2.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    margin: auto;
    left: 14px;
    right: 0;
    bottom: 0;
    top: 0;
    transform: scale(1);
    animation: mymove 1.5s infinite;
}
#index .third .textWrap {
    font-size: 18px;
    color: #80343b;
    font-family: microsoft yahei;
    margin-top: 118px;
}
.textWrap .text {
    margin-top: 11px;
}
#index .third .shareWrap {
    width: 100%;
    margin-top: 240px;
    font-size: 0;
}
.shareWrap .again,
.shareWrap .share {
    width: 50%;
    display: inline-block;
}
.shareWrap .again span,
.shareWrap .share span{
    width: 130px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-family: microsoft yahei;
}
.shareWrap .again span {
    background-color: #e89492;
}
.shareWrap .share span {
    background-color: #7b7da0;
}
/* 分享二级页面 */
.module-share {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.module-share.out {
    left: 100%;
}
.module-share .img-share {
    position: absolute;
    top: 10px;
    right: 10px;
}
.module-share .img-share .share-icon {
    width: 120px;
    height: 82px;
}

.tip {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    z-index: 10000;
    text-align: center;
    display: none;
}
.tip .tip-content {
    width: 235px;
    height: 127.5px;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}
.tip .tip-content .tip-text {
    font-size: 18px;
    color: #5a1b19;
    font-family: microsoft yahei;
    display: block;
    margin: 34px 0 0 0;
}
.tip .tip-content .ok-button {
    width: 175px;
    height: 40px;
    line-height: 40px;
    margin: 24px 0 0 0;
    display: inline-block;
    color: #fff;
    background-color: #e89492;
    font-size: 18px;
    font-family: microsoft yahei;
    border-radius: 5px;
    text-align: center;
}