html,body {
    height: 100%;
    overflow: hidden;
}
#index {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative; 
}

#index .first {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/first.png') no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    z-index: 100;
    display: none;
}
#index .first .people {
    display: inline-block;
    width: 59.5px;
    height: 101px;
    background: url('../images/people.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 56%;
    margin-left: -29.25px;
}
#index .first .testButton,
#index .second .testButton {
    width: 175px;
    height: 38px;
    line-height: 38px;
    font-family: microsoft yahei;
    font-size: 18px;
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 76%;
    background-color: #e89492;
    border-radius: 4px;
    margin-left: -87.5px;
}

#index .second {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/second.png') no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    display: none;
}
#index .second .form {
    width: 100%;
    margin-top: 102px;
    font-family: microsoft yahei;
}
.form .column {
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}
.form .column .text {
    display: inline-block;
    width: 33.125%;
    font-size: 12.465px;
    color: #80343b;
    text-align: right;
    float: left;
}
.form .column .input {
    display: inline-block;
    width: 66.875%;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.input .inputContent {
    height: 24px;
    line-height: 24px;
}
.input .inputContentSelect {
    height: 28px;
    width: 58px;
}