html,body {
    height: 100%;
    overflow: hidden;
}
#index {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: microsoft yahei;
}
#index .first {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: url('../images/dream/background2.png') repeat-y;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    z-index: 100;
    /*display: none;*/
}

.first .top {
    width: 271px;
    min-height: 193.5px;
    background: url('../images/dream/text-show.png') no-repeat;
    background-size: 100% 100%;
    margin: 60px auto 0;
    overflow: hidden;
    padding: 31px 32px 35px;
    box-sizing: border-box;
}
.first .tops {
    width: 271px;
    /*min-height: 193.5px;*/
    background-size: 100% 100%;
    margin: 60px auto 0;
    overflow: hidden;
    /*padding: 31px 32px 35px;*/
    box-sizing: border-box;
}
.tops .top-header {
    width: 100%;
    height: 53px;
    padding: 31px 32px 5px;
    background: url('../images/dream/text-show_hea.png') no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}
.tops .top-con {
    width: 100%;
    min-height: 117px;
    padding: 15px 32px 0;
    background: url('../images/dream/text-show_con.png') no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}
.tops .top-footer {
    width: 100%;
    height: 23.5px;
    /*padding: 31px 32px 0;*/
    background: url('../images/dream/text-show_foo.png') no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.first .button {
    width: 280px;
    height: 34px;
    line-height: 33px;
    background-color: #ffffff;
    color: #eb6877;
    font-size: 18px;
    font-family: microsoft yahei;
    font-weight: 600;
    border-radius: 40px;
    border: 1px solid #eb6877;
    margin: 41px auto 20px;;
}
.top .person,
.tops .person {
    font-size: 15px;
    line-height: 20px;
    text-indent: 30px;
    color: #ffa8b2;
    text-align: left;
    /*margin: 31px 0 0 0;*/
}
.top .dream,
.tops .dream {
    font-size: 30px;
    color: #eb6877;
    margin: 23px 0 0 0;
    word-break: break-all;
}
.first .middle {
    font-size: 18px;
    text-indent: 36px;
    line-height: 22px;
    color: #f7f7f8;
    padding: 15px 17px;
    background-color: #f48e99;
    text-align: left;
    margin-top: 27px;
}
.first .logo {
    width: 110.5px;
    height: 68px;
    display: inline-block;
    background: url('../images/dream/logo.png') no-repeat;
    background-size: 100% 100%;
    margin-bottom: 16px;
}