html,body {
    height: 100%;
    overflow: hidden;
}
#index {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative; 
}
#index .first {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    background: url('../images/dream/background.png') no-repeat;
    background-size: 100% 100%;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    z-index: 100;
    /*display: none;*/
}
.first .header {
    width:  100%;
    height: 7.916666667rem;
    background: rgba(203, 92, 105, 0.75);
    font-size: 1.500000000rem;
    color: #fff;
    font-family: microsoft yahei;
    text-align: left;
    box-sizing: border-box;
    padding: 2.000000000rem 1.333333333rem;
    text-indent: 3.000000000rem;
    line-height: 2.166666667rem;
}
.first .textarea-wrap {
    width: 21.333333333rem;
    height:  19.000000000rem;
    background: url('../images/dream/textarea.png') no-repeat;
    background-size: 100% auto;
    margin: 13.000000000rem auto 0.833333333rem;
}
.textarea-wrap .text {
    background-color: transparent;
    outline: none;
    border: none;
    color: #656565;
    font-size: 1.250000000rem;
    font-family: microsoft yahei;
    font-weight: 700;
    height: 12.500000000rem;
    text-indent: 2.500000000rem;
    width: 100%;
    margin-top: 2.833333333rem;
    line-height: 2.166666667rem;
    padding: 0 0.833333333rem;
    box-sizing: border-box;
}
.first .button {
    width: 23.333333333rem;
    height: 2.833333333rem;
    line-height: 2.750000000rem;
    background-color: #ffffff;
    color: #eb6877;
    font-size: 1.500000000rem;
    font-family: microsoft yahei;
    font-weight: 600;
    border-radius: 3.333333333rem;
    border: 0.083333333rem solid #eb6877;
    margin: 0 auto 0;
    /*position: absolute;
    bottom: 7.333333333rem;
    margin: auto;
    left: 0;
    right: 0;*/
}

.tip,
.confirm {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    z-index: 10000;
    text-align: center;
    display: none;
}
.confirm {
    /*display:flex;*/
    justify-content:center;
    align-items:center;
}
.tip .tip-content,
.confirm .tip-content {
    width: 19.583333333rem;
    height: 10.625000000rem;
    border-radius: 0.500000000rem;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}
.confirm .tip-content {
    height: auto;
    position: relative;
    padding: 0 0.833333333rem;
}
.tip .tip-content .tip-text,
.confirm .tip-content .tip-text {
    font-size: 1.500000000rem;
    color: #5a1b19;
    font-family: microsoft yahei;
    display: block;
    margin: 2.833333333rem 0 0 0;
}
.confirm .tip-content .ok-button,
.tip .tip-content .ok-button {
    width: 14.583333333rem;
    height: 3.333333333rem;
    line-height: 3.333333333rem;
    margin: 2.000000000rem 0 0 0;
    display: inline-block;
    color: #fff;
    background-color: #e89492;
    font-size: 1.500000000rem;
    font-family: microsoft yahei;
    border-radius: 0.416666667rem;
    text-align: center;
}
.confirm .tip-content .ok-button {
    width: 7.083333333rem;
    margin: 2.000000000rem 0.833333333rem;
}
.first .logo {
    width: 9.208333333rem;
    height: 5.666666667rem;
    display: inline-block;
    background: url('../images/dream/logo.png') no-repeat;
    background-size: 100% 100%;
    margin-top: 0.833333333rem;
    margin-bottom: 1.333333333rem;
    /*position: absolute;
    left: 0;
    right: 0;
    bottom: 1.000000000rem;
    margin: auto;*/
}