html,body {
    height: 100%;
    overflow: hidden;
}
canvas {
    width: 50%;
    height: 100%;
}
#index {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative; 
}

#index .first {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/first-b.png') no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    z-index: 100;
    /*display: none;*/
}
#index .first .textWrap {
    margin-top: 7.916666667rem;
    margin-left: 4.000000000rem;
    text-align: left;
    position: relative;
}
#index .first .textWrap .text {
    display: none;
    text-align: center;
    position: absolute;
}
#index .first .textWrap .text1 {
    width: 3.875000000rem;
    height: 0.916666667rem;
    background: url('../images/text1.png') no-repeat;
    background-size: 100% auto;
}
#index .first .textWrap .text2 {
    width: 14.041666667rem;
    height: 1.000000000rem;
    background: url('../images/text2.png') no-repeat;
    background-size: 100% auto;
    top: 1.833333333rem;
}
#index .first .textWrap .text3 {
    width: 13.250000000rem;
    height: 1.000000000rem;
    background: url('../images/text3.png') no-repeat;
    background-size: 100% auto;
    top: 3.666666667rem;
}
#index .first .textWrap .text4 {
    width: 8.708333333rem;
    height: 0.958333333rem;
    background: url('../images/text4.png') no-repeat;
    background-size: 100% auto;
    top: 5.500000000rem;
}
#index .first .textWrap .text5 {
    width: 5.875000000rem;
    height: 0.958333333rem;
    background: url('../images/text5.png') no-repeat;
    background-size: 100% auto;
    top: 7.333333333rem;
}
#index .first .people {
    display: inline-block;
    width: 4.958333333rem;
    height: 8.416666667rem;
    background: url('../images/peo.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 56%;
    margin-left: -2.437500000rem;
}
#index .first .heart {
    display: inline-block;
    width: 4.958333333rem;
    height: 2.583333333rem;
    background: url('../images/heart.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transform: scale(1);
    animation: mymove 1.5s infinite;
}
#index .first .boolean {
    display: inline-block;
    width: 8.333333333rem;
    height: 26.250000000rem;
    background: url('../images/ballon1.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 19%;
    left: 0;
    animation: boolean 4s infinite;
}
#index .first .boolean2 {
    display: inline-block;
    width: 9.541666667rem;
    height: 25.833333333rem;
    background: url('../images/ballon2.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 9%;
    right: 0;
    animation: boolean2 3s infinite;
}

@keyframes mymove
{
    0%   {
        transform: scale(1);
    }
    0%   {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes boolean
{
    0%   {
        top: 19%;
    }
    50%   {
        top: 16%;
    }
    100% {
        top: 19%;
    }
}
@keyframes boolean2
{
    0%   {
        top: 9%;
    }
    50%   {
        top: 7%;
    }
    100% {
        top: 9%;
    }
}
#index .first .testButton,
#index .second .testButton {
    width: 14.583333333rem;
    height: 3.166666667rem;
    line-height: 3.166666667rem;
    font-family: microsoft yahei;
    font-size: 1.500000000rem;
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 76%;
    background-color: #e89492;
    border-radius: 0.333333333rem;
    margin-left: -7.291666667rem;
}
#index .first .testButton {
    display: none;
}
#index .second {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/second.png') no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    display: none;
}
#index .second .form {
    width: 100%;
    margin-top: 8.500000000rem;
    font-family: microsoft yahei;
}
.form .column {
    height: 2.500000000rem;
    line-height: 2.500000000rem;
    margin-bottom: 1.250000000rem;
}
.form .column .text {
    display: inline-block;
    width: 33.125%;
    font-size: 1.038750000rem;
    color: #80343b;
    text-align: right;
    float: left;
}
.form .column .input {
    display: inline-block;
    width: 66.875%;
    text-align: left;
    padding-left: 0.833333333rem;
    box-sizing: border-box;
}
.input .inputContent {
    height: 2.000000000rem;
    line-height: 2.000000000rem;
    /*-webkit-appearance: none;*/
    border: 0.083333333rem solid #e87c7a;
    border-radius: 0.166666667rem;
    padding-left: 0.416666667rem;
    box-sizing: border-box
}
.input .inputContentSelect {
    height: 2.333333333rem;
    width: 4.833333333rem;
    border: 0.083333333rem solid #e87c7a;
    border-radius: 0.166666667rem;
    /*-webkit-appearance: none;*/
}

#index .third {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/end.png') no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    display: none;
}
#index .third .heart2 {
    display: inline-block;
    width: 2.875000000rem;
    height: 2.833333333rem;
    background: url('../images/heart2.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    margin: auto;
    left: 1.250000000rem;
    right: 0;
    bottom: 0;
    top: 10.250000000rem;
    transform: scale(1);
    animation: mymove 1.5s infinite;
}
#index .third .textWrap {
    font-size: 1.500000000rem;
    color: #80343b;
    font-family: microsoft yahei;
    margin-top: 9.833333333rem;
}
.textWrap .text {
    margin-top: 0.916666667rem;
}
.textWrap .text2 {
    font-size: 1.250000000rem;
}
.textWrap .distance {
    margin: 0 0.250000000rem;
}
#index .third .shareWrap {
    width: 100%;
    margin-top: 20.000000000rem;
    font-size: 0;
}
.shareWrap .again,
.shareWrap .share {
    width: 50%;
    display: inline-block;
}
.shareWrap .again span,
.shareWrap .share span{
    width: 10.833333333rem;
    height: 3.333333333rem;
    line-height: 3.333333333rem;
    border-radius: 0.416666667rem;
    color: #fff;
    display: inline-block;
    font-size: 1.500000000rem;
    font-family: microsoft yahei;
}
.shareWrap .again span {
    background-color: #e89492;
}
.shareWrap .share span {
    background-color: #7b7da0;
}
/* 分享二级页面 */
.module-share {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.module-share.out {
    left: 100%;
}
.module-share .img-share {
    position: absolute;
    top: 0.833333333rem;
    right: 0.833333333rem;
}
.module-share .img-share .share-icon {
    width: 10.000000000rem;
    height: 6.833333333rem;
}

.tip {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    z-index: 10000;
    text-align: center;
    display: none;
}
.tip .tip-content {
    width: 19.583333333rem;
    height: 10.625000000rem;
    border-radius: 0.500000000rem;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}
.tip .tip-content .tip-text {
    font-size: 1.500000000rem;
    color: #5a1b19;
    font-family: microsoft yahei;
    display: block;
    margin: 2.833333333rem 0 0 0;
}
.tip .tip-content .ok-button {
    width: 14.583333333rem;
    height: 3.333333333rem;
    line-height: 3.333333333rem;
    margin: 2.000000000rem 0 0 0;
    display: inline-block;
    color: #fff;
    background-color: #e89492;
    font-size: 1.500000000rem;
    font-family: microsoft yahei;
    border-radius: 0.416666667rem;
    text-align: center;
}