html,body {
    height: 100%;
    overflow: hidden;
}
#index {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: microsoft yahei;
}
#index .first {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: url('../images/dream/background2.png') repeat-y;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    z-index: 100;
    /*display: none;*/
}

.first .top {
    width: 22.583333333rem;
    min-height: 16.125000000rem;
    background: url('../images/dream/text-show.png') no-repeat;
    background-size: 100% 100%;
    margin: 1px auto 0;
    overflow: hidden;
    padding: 2.583333333rem 2.666666667rem 2.916666667rem;
    box-sizing: border-box;
}
.first .tops {
    width: 22.583333333rem;
    /*min-height: 16.125000000rem;*/
    background-size: 100% 100%;
    margin: 5.000000000rem auto 0;
    overflow: hidden;
    /*padding: 2.583333333rem 2.666666667rem 2.916666667rem;*/
    box-sizing: border-box;
}
.tops .top-header {
    width: 100%;
    height: 4.416666667rem;
    padding: 2.583333333rem 2.666666667rem 0.416666667rem;
    background: url('../images/dream/text-show_hea.png') no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}
.tops .top-con {
    width: 100%;
    min-height: 9.750000000rem;
    padding: 1.250000000rem 2.666666667rem 0;
    background: url('../images/dream/text-show_con.png') no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}
.tops .top-footer {
    width: 100%;
    height: 1.958333333rem;
    /*padding: 2.583333333rem 2.666666667rem 0;*/
    background: url('../images/dream/text-show_foo.png') no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.first .button {
    width: 23.333333333rem;
    height: 2.833333333rem;
    line-height: 2.750000000rem;
    background-color: #ffffff;
    color: #eb6877;
    font-size: 1.500000000rem;
    font-family: microsoft yahei;
    font-weight: 600;
    border-radius: 3.333333333rem;
    border: 0.083333333rem solid #eb6877;
    margin: 1.750000000rem auto 1.666666667rem;;
}
.top .person,
.tops .person {
    font-size: 1.250000000rem;
    line-height: 1.666666667rem;
    text-indent: 2.500000000rem;
    color: #ffa8b2;
    text-align: left;
    /*margin: 2.583333333rem 0 0 0;*/
}
.top .dream,
.tops .dream {
    font-size: 2.500000000rem;
    color: #eb6877;
    margin: 1.916666667rem 0 0 0;
    word-break: break-all;
}
.first .middle {
    font-size: 1.500000000rem;
    text-indent: 3.000000000rem;
    line-height: 1.833333333rem;
    color: #f7f7f8;
    padding: 1.250000000rem 1.416666667rem;
    background-color: #f48e99;
    text-align: left;
    margin-top: 2.250000000rem;
}
.first .logo {
    width: 9.208333333rem;
    height: 5.666666667rem;
    display: inline-block;
    background: url('../images/dream/logo.png') no-repeat;
    background-size: 100% 100%;
    margin-bottom: 1.333333333rem;
}