html,body {
    height: 100%;
    /*overflow: hidden;*/
}
#index {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: microsoft yahei;
}
#index .first {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background: url('../images/dream/background3.png') no-repeat, url(../images/dream/back-rep.png) repeat-y;
    background-size: 100% auto;
    text-align: center;
    position: absolute;
    z-index: 100;
    /*display: none;*/
}
.first .button {
    width: 18.916666667rem;
    height: 2.833333333rem;
    line-height: 2.750000000rem;
    background-color: #ffffff;
    color: #eb6877;
    font-size: 1.500000000rem;
    font-family: microsoft yahei;
    font-weight: 600;
    border-radius: 3.333333333rem;
    border: 0.083333333rem solid #eb6877;
    margin: 0.666666667rem auto 1.666666667rem;
}
.first .header {
    width: 100%;
    height: 9.633333333rem;
    height: 9.166666667rem;
    padding: 1.166666667rem 0 0 0.916666667rem;
    box-sizing: border-box;
    text-align: left;
    /*background: rgba(213, 95, 108, 0.8);*/
    /*background: url('../images/dream/header.png') no-repeat;*/
    background-size: 100% 100%;
    position: relative;
}
.first .header .rotate {
    width: 0.833333333rem;
    height: 0.833333333rem;
    transform: rotate(45deg);
    border-radius: 0.166666667rem;
    background: rgba(213, 95, 108, 0.8);
    left: 0;
    right: 0;
    bottom: -0.416666667rem;
    margin: auto;
    position: absolute;
}
.first .header .img-wrap {
    width: 6.250000000rem;
    height: 6.250000000rem;
    line-height: 6.250000000rem;
    display: inline-block;
    border-radius: 6.250000000rem;
    background-color: #eda1aa;
    text-align: center;
    box-sizing: border-box;
    font-size: 0;
    vertical-align: top;
}
.first .header .img-wrap img {
    width: 5.875000000rem;
    height: 5.875000000rem;
    border-radius: 5.875000000rem;
    vertical-align: middle;
    background: #fff;
}
.first .header .con-wrap {
    margin-left: 0.916666667rem;
    display: inline-block;
    /*font-weight: 600;*/
}
.con-wrap .name {
    font-size: 1.250000000rem;
    color: #fff;
}
.con-wrap .detail {
    margin: 0.833333333rem 0 0 0;
}
.con-wrap .detail .text {
    font-size: 1.000000000rem;
    color: #fff;
    margin-bottom: 0.333333333rem;
    opacity: 0.7;
}
.con-wrap .date-end {
    font-size: 1.000000000rem;
    color: #fff;
    margin-top: 0.750000000rem;
}

.first .line-wrap {
    width: 0.083333333rem;
    /*height: 100%;*/
    /*position: absolute;*/
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 11.666666667rem;
    /*padding-bottom: 4.166666667rem;*/
    margin-top: -10.000000000rem;
    /*margin-bottom: 0.666666667rem;*/
}
.first .line {
    width: 0.083333333rem;
    height: 100%;
    height: 16.666666667rem;
    background-color: #eb6877;
}

.step-wrap {
/*    position: absolute;
    top: 11.666666667rem;*/
}
.step {
    /*position: absolute;*/
    width: 16.666666667rem;
    text-align: left;
    font-size: 0;
    /*margin: -1.666666667rem 0;*/
}
.step-wrap .line-top {
    width: 0.083333333rem;
    height: 2.000000000rem;
    display: inline-block;
    box-sizing: border-box;
    background-color: #eb6877;
}
.step .circle-wrap {
    width: 1.041666667rem;
    height: 1.833333333rem;
    line-height: 1.833333333rem;
    display: inline-block;
    font-size: 0;
    margin-left: -0.500000000rem;
    vertical-align: middle;
}
.step .circle-wrap .circle {
    display: inline-block;
    width: 1.041666667rem;
    height: 1.000000000rem;
    vertical-align: middle;
}
.step-line-wrap:nth-child(5n + 1) .circle-wrap .circle {
    background: url('../images/dream/circle-1.png') no-repeat;
    background-size: 100% 100%;
}
.step-line-wrap:nth-child(5n + 2) .circle-wrap .circle {
    background: url('../images/dream/circle-2.png') no-repeat;
    background-size: 100% 100%;
}
.step-line-wrap:nth-child(5n + 3) .circle-wrap .circle {
    background: url('../images/dream/circle-3.png') no-repeat;
    background-size: 100% 100%;
}
.step-line-wrap:nth-child(5n + 4) .circle-wrap .circle {
    background: url('../images/dream/circle-4.png') no-repeat;
    background-size: 100% 100%;
}
.step-line-wrap:nth-child(5n + 5) .circle-wrap .circle {
    background: url('../images/dream/circle-5.png') no-repeat;
    background-size: 100% 100%;
}

.step .img-wrap {
    width: 2.916666667rem;
    height: 2.916666667rem;
    line-height: 2.916666667rem;
    border-radius: 2.916666667rem;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 0;
    text-align: center;
    background-color: #ff7867;
    margin-left: 0.791666667rem;
}
.step .img-wrap img {
    width: 2.750000000rem;
    height: 2.750000000rem;
    border-radius: 2.750000000rem;
    vertical-align: middle;
    background: #fff;
}
.step .content {
    margin-left: 0.750000000rem;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}
.step .content .title {
    white-space: nowrap;
}
.step .content .title-name {
    font-size: 1.000000000rem;
    color: #ff7867;
}
.step .content .title-heart {
    width: 1.333333333rem;
    height: 1.250000000rem;
    display: inline-block;
    background: url('../images/dream/heart.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: top;
    margin-left: 0.500000000rem;
}
.step .content .dream-txt {
    position: relative;
    margin-top: 0.416666667rem;
    padding: 0.250000000rem;
}
.step .content .dream-txt .txt {
    font-size: 1.000000000rem;
    color: #a3a3a3;
    transform: scale(0.83333);
    display: inline-block;
    max-width: 7.333333333rem;
    line-height: 1.250000000rem;
    word-wrap:break-word;
}
.step .content .dream-txt .border-top {
    width: 0.666666667rem;
    height: 0.708333333rem;
    display: inline-block;
    position: absolute;
    background: url('../images/dream/border-left.png') no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 0;
}
.step .content .dream-txt .border-bottom {
    width: 0.666666667rem;
    height: 0.708333333rem;
    display: inline-block;
    position: absolute;
    background: url('../images/dream/border-right.png') no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    right: 0; 
}

.step-line-wrap:nth-child(even) .img-wrap {
    margin-left: -4.750000000rem;
}
.step-line-wrap:nth-child(even) .content {
    margin-left: -11.083333333rem;
}
.step-line-wrap:nth-child(even) .content .title-heart {
    float: left;
    margin: 0 0.500000000rem 0 0;
}

/* 分享二级页面 */
.module-share {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    z-index: 1000;
}
.module-share.out {
    left: 100%;
}
.module-share .img-share {
    position: absolute;
    top: 0.833333333rem;
    right: 0.833333333rem;
}
.module-share .img-share .share-icon {
    width: 10.000000000rem;
    height: 6.833333333rem;
}